html,
body {
    height: 100%;
    width: 100%;
    background: radial-gradient(at center, #3e99b8, #53bee1);
    position: relative;
}

.main_section_home {
    width: 940px;
    margin: 0px auto;
    background: #ffffff;
    border-radius: 4px;
}

#conferences{
    position: relative;
    color: #000;
    background-color: #ffffff;
    border: 1px solid transparent;
}

#conferences:after {
    content: " ";
    position: absolute;
    width: calc(100% + 2px );
    height: calc(100% + 2px);
    left: 50%;
    bottom: calc(-1 * (100% + 2px));
    transform: translateX(-50%);
    background-color: yellow;
}