html,
body {
    width: 100%;
    background-color: #f2f5f5;
}

.login_wrapper {
    width: 490px;
    height: 385px;
    margin: 100px auto;
    border-radius: 2%;
    background-color: #ffffff;
}

.login_header {
    padding-top: 15px;
    padding-bottom: 10px;
    color: #000000;
    text-align: center;
    font-size: 35px;
}

.line {
    border-top: 2px solid #f2f5f5;
}

.login_form {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    margin-bottom: 10px;
    width: 428px;
}

.input {
    height: 50px;
    margin-bottom: 10px;
    padding: 20px 10px 0 10px;;
    border: 1px solid #a8b0b5;
    border-radius: 3px;
    font-size: 18px;
}

.login_button {
    margin: 0 auto 10px auto;
    width: 146px;
    height: 59px;
    display: block;
    padding: 10px;
    background-color: #60d3ef;
    border-radius: 5px;

    font-size: 18px;
    color: #ffffff;

    cursor: pointer;
}

.footer_login {
    margin: 15px;
    text-align: center;
}

.login {
    text-decoration: none;
}

.sign_up:hover ,
.sign_up:focus {
    background-color: #60d3ef;
    color: #ffffff;
}

.inputLabel {
    margin-bottom: -20px;
    color: #55606E;
    z-index: 1;
    font-family: Arial, sans-serif;
    margin-left: 11px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 12px;
}

.back_home {
    margin-top: 5px;
    font-size: 13px;
}

.home_page {
    text-decoration: none;
}

.error_message {
    font-size: 14px;
    color: #ff0000;
}

.logout_message {
    font-size: 14px;
    color: #048013;
}