html,
body {
    height: 100%;
    width: 100%;
    background: radial-gradient(at center, #3e99b8, #53bee1);
    position: relative;
}

.main_section_home {
    width: 940px;
    margin: 0px auto;
    background: #ffffff;
    border-radius: 4px;
}

#reports{
    color: #000;
    background-color: #ffffff;
    border: 1px solid transparent;
}